@import url('global.css');

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    transition: 1s;
}

.splash img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; /* Ajuste para garantir que a imagem seja visível */
}

.splash.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.splash.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.screenpage-one, .screenpage-two {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.screenpage-one.active, .screenpage-two.active {
    opacity: 1;
    display: flex;
}

